#game > button {
    height: 100px;
    width: 100px;
    border-radius: 0;
    border: 1px solid black;
    font-size: 3rem;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);

}

#playerDisplay, #result {
    height: 30px;
}

#resultMessage {
    display: none;
}

